<h3>登録された一覧</h3>

<body>
    <h3></h3>

    <div th:if="${list!=null and !list.empty}">
        <table class="table table-striped">
            <thead>

                <th>出欠</th>
                <th>出席</th>
                <th>日時</th>

                <th role="action"></th>
            </thead>
            <tbody>
                <tr class="align-middle" th:each="item, stat : ${gakusei_list}" th:object="${item}">
				<tr class="align-middle" th:each="item, stat : ${syuseki_list}" th:object="${item}">	
				<tr class="align-middle" th:each="item, stat : ${seiseki_list}" th:object="${item}">	
    <td th:text="${user.studentNumber}"></td>
    <td th:text="${user.syuketu}"></td>
    <td th:text="${user.japanese}"></td>
    
    <!-- 他のフィールドに対する処理も追加 -->
</tr>


                <a href="/">トップページに戻る</a>


            </tbody>

        </table>
    </div>
    <div th:unless="${gakusei_list!=null and !gakusei_list.empty 
                and syuseki_list!=null and !syuseki_list.empty 
                and seiseki_list!=null and !seiseki_list.empty}">
    <div class="alert alert-danger" role="alert">
        データなし
    </div>
</div>

        
        
    </div>
</body>
    </div>